.all-pages-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.all-pages-content-area {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
#root ,body ,html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
}